@import 'elf'

//debug(color = blue)
.LayoutDefault_Container
  position: absolute
  top: 0
  bottom: 0
  height: auto
  right: 0
  left: 0
  width: auto
  overflow: hidden !important
  //overflow-y: hidden

#PublicContainer
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  visibility: hidden;

#PrivateContainer
  span(7/8)
  left: calc(100% * 0.125 + 0.125 * 10px)
  // padding-left: 18px
  // padding-right: 24px
  position: absolute
  top: 0
  bottom: 0
  height: auto
  // padding: 1%
  // overflow: hidden !important
  // visibility: hidden;

//Error input Form Handeling
.input, .error
  width: 70%
//Error Label
label[class~="error"]
  span(1/1)
  shift(1/4)
  animation: fadeIn 2s
  animation-fill-mode:forwards;
  margin-top: 2px
  left: 0% !important
  color: red
  background: rgba(250, 10, 10, 0.03)
  border: 1px solid rgba(250, 10, 10, 0.10)
  border-radius: 3px;
//If an error has occured the icon will also turn red
.error
  .icon
    color: darken(red, 15%) !important


.noBorder
  box-shadow: none !important
  border: none !important    
// .segmantStyle
//   box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05)



.scrollBar
  overflow-y: auto !important
  transition: background 0.05s ease-in-out;

.scrollBar::-webkit-scrollbar
  width: 10px;
  height: 10px;

.scrollBar::-webkit-scrollbar-track
  background-color: rgba(113,112,107,0.1);
  -webkit-border-radius: 5px;

.scrollBar::-webkit-scrollbar-thumb:vertical 
  background-color: rgba(0,0,0,.2);
  -webkit-border-radius: 6px;


.scrollBar::-webkit-scrollbar-thumb:vertical:hover,
.scrollBar::-webkit-scrollbar-thumb:horizontal:hover 
  background: rgba(0,0,0,.4);
  //cursor: move


.scrollBar::-webkit-scrollbar-thumb:horizontal 
  background-color: rgba(0,0,0,.2);
  -webkit-border-radius: 6px;
