<template name="ErrorMessage">
  {{#each Error}}
    <div class="ui negative message alert" role="alert">
      <i class="close icon errorClose"></i>
      <div class="header">
        {{errormessage}}
      </div>
    </div>
  {{/each}}
</template>