@import 'elf';
//debug(color = blue)

//Button animation could be cleaned up

.editProfile_Container
  margin-top: 20px
  .segment
    background: transparent
  //Icon on Button
  .editField
  i
    padding-bottom: 50px
  .primary
    animation: primaryAnim 0.5s ease-out forwards
    background-color: green !important
  .red
    animation: redAnim 0.5s ease-out forwards
  //Red animation
  @keyframes redAnim {
    from {
      background: #3b83c0
    }
    to {
      background #dc6868
    }
  }
  //Primary animation
  @keyframes primaryAnim {
    from {
      background: gray
    }
    to {
      background #3b83c0
    }
  }

//Inputs
.editText, .editArea
  animation: fadeIn 1s
.editArea
  height: 51px
  font-size: 1.375rem !important
  .wrapper
    margin: 0 auto

//Role Selection
#roleSelection_Container
  width: 100% !important
  vertical-align: top !important
  font-size: 1.375rem !important
  display: table !important
  .dropdown
    display: table-cell;
    vertical-align: top;
    border-right: none;
    font-weight: normal !important
    width: 100%
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.2142em;
    padding: 0.67861em 1em;
    padding-left: 3.07142em !important;
    font-size: 1em;
    background: #ffffff;
    border: 1px solid rgba(39, 41, 43, 0.15);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.2857rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  .ui.buttons .disabled.button, .ui.disabled.button
    cursor: default;
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.9) !important;
    opacity: 0.8 !important;
    background-image: none !important;
    box-shadow: none !important;
    pointer-events: none;
  .editDropdown
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
//Email Verification
.emailVeification_Container
  width: 100% !important
  vertical-align: top !important
  //font-size: 1.375rem !important
  display: table !important
  .status
    display: table-cell !important
    vertical-align: top;
    border-right: none;
    font-weight: normal !important
    width: 100%
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.2142em;
    padding: 0.67861em 1em;
    font-size: 1em;
    background: transparent
    border: 1px solid rgba(39, 41, 43, 0.15);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.2857rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  .verified
    .emailIcon
      float: right
      font-size 2.3rem
      color: green
      padding-bottom: 10px !important
    .emailTitle
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      font-size: 1.0714em;
      font-weight: 700
      color: green
    .emailDiscription
      font-weight: 400;
      font-size: .9285em;
      color: rgba(0,0,0,.8);
      span
        font-weight bold
  .noPadding
    padding: 0em
  .unVerified
    .emailIcon
      padding-top: 3px
      padding-bottom: 0px
      float: left
      font-size 3rem
      color: red !important
    .emailTitle
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      font-size: 1.0714em;
      font-weight: 700
      color: red
    .emailDiscription
      font-weight: 400;
      font-size: .9285em;
      color: rgba(0,0,0,.8);
      span
        font-weight bold
  .resendVerification
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    


//Checkmark Template
.wrapper
  width: 28px
  margin-left 1.77rem
  margin-right 1.77rem
  animation: fadeOut 4s
.checkmark
  stroke: white
  stroke-dashoffset: 745.74853515625
  stroke-dasharray: 745.74853515625
  animation: dash 3s ease-out forwards 

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}