<template name="editProfile">
<!-- Header -->
  <div class="editProfileHeader">
    <h3 class="ui inverted black block header">
      Edit Profile
    </h3>
  </div>

<div class="editProfile_Container">

<div class="ui form segment">
<!-- First Group || Display Name + Role Selection -->
  <div class="two fields">
<!-- Dispaly Name Field -->
    <div class="field">
      <label>Display Name</label>
      <div class="ui action huge input">
      <!-- Input -->
      <input type="text" disabled="disabled" value="{{user.displayName}}" name="displayName">
        <!-- Edit/Save Button -->
        {{#with isEditing 'displayName'}}
          <div class="ui {{classValue}} right labeled icon button editField">
            <i class="edit icon"></i>
            {{#if isSuccess 'displayName'}}
                {{> svgSuccess}}
              {{else}}
                <span class="editText">{{textValue}}</span>
            {{/if}}
          </div>
        {{/with}}
      </div>
    </div>
<!-- Role Selection -->
    <div class="field">
      <label>Role Selection</label>
      <!-- Container -->
      <div id="roleSelection_Container">
        <div class="ui floating labeled icon dropdown button disabled">
          <i class="filter icon"></i>
          <!-- Input -->
          <span class="text" name='role'>Current Role - {{user.role}}</span>
          <div class="menu">
            <div class="header">
              <i class="tags icon"></i>
              Select The Users Role
            </div>
            <div class="item">
              Admin
            </div>
            <div class="item">
              Manager
            </div>
            <div class="item">
              User
            </div>
            <div class="item">
              Viewer
            </div>
          </div>
        </div>
        <!-- Edit/Save Button -->
        {{#with isEditing 'role'}}
          <div class="ui {{classValue}} right labeled icon button editDropdown" id="roleEdit">
            <i class="edit icon"></i>
             {{#if inRole 'Admin'}}
               {{textValue}}
               {{else}}
                Only Admin Can Change Roles
             {{/if}}
          </div>
        {{/with}}  
      </div>
    </div>
  </div>

<!-- Second Group || First Name + Last Name -->
  <div class="two fields">
  <!-- First Name -->
    <div class="field">
      <label>First Name</label>
      <div class="ui action huge input">
        <!-- Input -->
        <input type="text" disabled="disabled" value="{{user.firstName}}" name="firstName">
        <!-- Edit/Save Button -->
        {{#with isEditing 'firstName'}}
          <div class="ui {{classValue}} right labeled icon button editField">
            <i class="edit icon"></i>
            {{#if isSuccess 'firstName'}}
                {{> svgSuccess}}
              {{else}}
                <span class="editText">{{textValue}}</span>
            {{/if}}
          </div>
        {{/with}}
      </div>
    </div>
  <!-- Last Name -->
    <div class="field">
      <label>Last Name</label>
      <div class="ui action huge input">
        <!-- Input -->
        <input type="text" disabled="disabled" value="{{user.lastName}}" name="lastName">
        <!-- Edit/Save Button -->
        {{#with isEditing 'lastName'}}
          <div class="ui {{classValue}} right labeled icon button editField">
            <i class="edit icon"></i>
            {{#if isSuccess 'lastName'}}
                {{> svgSuccess}}
              {{else}}
                <span class="editText">{{textValue}}</span>
            {{/if}}
          </div>
        {{/with}}
      </div>
    </div>
  </div>


<!-- Third Group || Notification Email + Email Verfication -->
  <div class="two fields">
  <!-- Notification Email -->
    <div class="field">
      <label>Notification Email</label>
      <div class="ui action huge input">
        <!-- Input -->
        <input type="text" disabled="disabled" value="{{user.email.address}}" name="email.address">
        <!-- Edit/Save Button -->
        {{#with isEditing 'email.address'}}
          <div class="ui {{classValue}} right labeled icon button editField">
            <i class="edit icon"></i>
            {{#if isSuccess 'email.address'}}
                {{> svgSuccess}}
              {{else}}
                <span class="editText">{{textValue}}</span>
            {{/if}}
          </div>
        {{/with}}
      </div>
    </div>
  <!-- Email Verification -->
    <div class="field">
    <label>Email Verification</label>
    {{#if iffy user.email.verified}}
    <!-- Verified email template -->
    <div class="emailVeification_Container">
      <div class="ui status">
        <div class="verified">
          <i class="checkmark icon emailIcon"></i>
          <div class="emailTitle">Email Verified</div>
          <div class="emailDiscription">
            Your email account <span>{{user.email.address}}</span> and will recive all notifications and messages from TaskCo.
          </div>
        </div>
      </div> 
    </div>
    {{else}}
    <!-- Not Verified Email Template -->
    <div class="emailVeification_Container">
      <div class="ui status noPadding">
        <div class="unVerified">
          <i class="remove circle icon emailIcon"></i>
          <div class="emailTitle">Email Not Verified</div>
          <div class="emailDiscription">
            Your email account <span>{{user.email.address}}</span> is not verified. In order to recive email notifications your must verify your email.
          </div>
        </div>
      </div>
      <!-- Email Resend verification email --> 
      <div class="ui red right labeled icon button resendVerification">
        <i class="edit icon"></i>
        Resend Verification
      </div>
    </div>
    {{/if}}
    </div>
  </div>

<!-- Fourth Group || Phone Numbers-->
<div class="ui form">
  <div class="three fields">
  <!-- Cell Phone -->
    <div class="field">
      <label>Cell Phone</label>
      <div class="ui action huge input">
        <!-- Input -->
        <input type="text" disabled="disabled" value="{{FormatPhone user.phone.cell}}" name="phone.cell">
        <!-- Edit/Save Button -->
        {{#with isEditing 'phone.cell'}}
          <div class="ui {{classValue}} right labeled icon button editField">
            <i class="edit icon"></i>
            {{#if isSuccess 'phone.cell'}}
                {{> svgSuccess}}
              {{else}}
                <span class="editText">{{textValue}}</span>
            {{/if}}
          </div>
        {{/with}}
      </div>
    </div>
    <!-- Work Phone -->
    <div class="field">
      <label>Work Phone</label>
      <div class="ui action huge input">
        <!-- Input -->
        <input type="text" disabled="disabled" value="{{FormatPhone user.phone.work}}" name="phone.work">
        <!-- Edit/Save Button -->
        {{#with isEditing 'phone.work'}}
          <div class="ui {{classValue}} right labeled icon button editField">
            <i class="edit icon"></i>
            {{#if isSuccess 'phone.work'}}
                {{> svgSuccess}}
              {{else}}
                <span class="editText">{{textValue}}</span>
            {{/if}}
          </div>
        {{/with}}
      </div>
    </div>
    <!-- Home Phone -->
    <div class="field">
      <label>Home Phone</label>
      <div class="ui action huge input">
        <!-- Input -->
        <input type="text" disabled="disabled" value="{{FormatPhone user.phone.home}}" name="phone.home">
        <!-- Edit/Save Button -->
        {{#with isEditing 'phone.home'}}
          <div class="ui {{classValue}} right labeled icon button editField">
            <i class="edit icon"></i>
            {{#if isSuccess 'phone.home'}}
                {{> svgSuccess}}
              {{else}}
                <span class="editText">{{textValue}}</span>
            {{/if}}
          </div>
        {{/with}}
      </div>
    </div>
  </div>
</div>
<!-- Fifth Group || Company + Location -->
<div class="ui form">
  <div class="three fields">
  <!-- Company -->
    <div class="field">
      <label>Company</label>
      <div class="ui action huge input">
        <!-- Input -->
        <input type="text" disabled="disabled" value="{{user.profile.company}}" name="profile.company">
        <!-- Edit/Save Button -->
        {{#with isEditing 'profile.company'}}
          <div class="ui {{classValue}} right labeled icon button editField">
            <i class="edit icon"></i>
            {{#if isSuccess 'profile.company'}}
                {{> svgSuccess}}
              {{else}}
                <span class="editText">{{textValue}}</span>
            {{/if}}
          </div>
        {{/with}}
      </div>
    </div>
    <!-- State Location -->
    <div class="field">
      <label>Location-State</label>
      <div class="ui action huge input">
        <!-- Input -->
        <input type="text" disabled="disabled" value="{{user.profile.location.state}}" name="profile.location.state">
        <!-- Edit/Save Button -->
        {{#with isEditing 'profile.location.state'}}
          <div class="ui {{classValue}} right labeled icon button editField">
            <i class="edit icon"></i>
            {{#if isSuccess 'profile.location.state'}}
                {{> svgSuccess}}
              {{else}}
                <span class="editText">{{textValue}}</span>
            {{/if}}
          </div>
        {{/with}}
      </div>
    </div>
    <!-- City Location -->
    <div class="field">
      <label>Location-City</label>
      <div class="ui action huge input">
        <!-- Input -->
        <input type="text" disabled="disabled" value="{{user.profile.location.city}}" name="profile.location.city">
        <!-- Edit/Save Button -->
        {{#with isEditing 'profile.location.city'}}
          <div class="ui {{classValue}} right labeled icon button editField">
            <i class="edit icon"></i>
            {{#if isSuccess 'profile.location.city'}}
                {{> svgSuccess}}
              {{else}}
                <span class="editText">{{textValue}}</span>
            {{/if}}
          </div>
        {{/with}}
      </div>
    </div>
  </div>
</div>

<!-- Biography -->
<div class="ui form">
  <div class="field">
    <label>Biography</label>
    <textarea  id='bio' disabled="disabled" value="{{user.profile.bio}}" name="profile.bio"></textarea>
  </div>
  {{#with isEditing 'profile.bio'}}
  <div class="ui {{classValue}} right labeled icon button editArea fluid ">
    {{#if isSuccess 'profile.bio'}}
        {{> svgSuccess}}
      {{else}}
        <span class="editText">{{textValue}} Bio</span>
    {{/if}}
  </div>
{{/with}}
</div>

</div><!-- Segment end -->
</div> <!-- Container end -->
</template>


<template name="svgSuccess">
<div class="wrapper">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
    <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
    C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
  </svg>
</div>
</template>