<template name="modalConfirm">
<div class="ui basic modal active modalConfirm myModal">
  <div class="header">
    {{title}}
  </div>
  <div class="content">
    <div class="image">
      <i class="{{icon}} icon"></i>
    </div>
    <div class="description">
      <p>{{content}}</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui red basic cancel inverted button confirmModal_No">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok basic inverted button confirmModal_Yes">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
</div>
</template>