@import 'elf'
//debug(color = blue)

//Body Container
.dmModal_container
  width: 800px
  margin-right: auto !important
  margin-left: auto !important
  padding: 0px !important
  border-radius: 0.2857rem !important
  background: rgba(255, 255, 255, 0.29) !important
  //Close Icon
  .close
    position: absolute
    right: -40px
    top: -25px
    font-size: 2rem
    color: red
    transition: color 0.2s ease-in-out;
    &:hover
      color: lighten(red, 20%)
      transition: color 0.2s ease-in-out;
      animation: pulse 1s infinite
      cursor: pointer
    
    
//Header
.dmHeader
  span(1)
  border-radius: 0.2857rem 0.2857rem 0rem 0rem
  padding-right: 28px
  padding-left: 28px
  padding-top: 18px
  background: #EFEFEF
  //Mail Icon
  .mail
    span(1/12)
    font-size: 3rem
  //Tile
  h1
    span(10/12)
    padding-top: 5px
    margin: 0px
  //Recipiant Container
  .currentRecipiants_Container
    span(1)
    margin-top: 10px
    margin-bottom: 15px
    //To:
    span
      span(1/10)
      font-size: 2.3rem
      padding-left: 13px
      font-weight: bold
      line-height: 25px
    //Recipiant Labels
    .dmLable_Container
      padding-top: 3px 
      max-height: 60px
      overflow-y: scroll
      span(9/10)
      .label
        display: inline-flex !important
        margin-bottom: 3px
    //For the no recipiants added label
    .visable
      opacity: 1
      transition: all 0.75s ease-in-out;
    .hidden
      opacity: 0
      transition: all 0.75s ease-in-out;

//Form
.dmContent
  column(1)
  padding: 15px
  padding-bottom: 60px
  //Asterick Lable
  .cornerLabel
    right: 7px !important
  .topForm_Container
    margin-bottom: 10px
  .addNewRecipiant
    border: solid 1px darken(#efefef, 50%) !important
    i
      transition: color 0.3s ease-in-out !important
    &:hover
      i
        color: darken(green, 10%)
        transition: color 0.3s ease-in-out !important
  .message
    column(1)
    .messageLabel
      width: 100%
      background: #e8e8e8
      position: relative
      margin-top: 0px
      padding: 0.6em 0.8em
      color: rgba(0, 0, 0, 0.6)
      font-weight: bold
      border-radius: 0.2857rem 0.2857rem 0rem 0rem
      

//User list border
.userName
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important

//Action
.dmActions_Container
  position: absolute
  bottom: 0px
  right:0px
  height: 45px
  width: 100%
  border-radius: 0rem 0rem 0.2857rem 0.2857rem
  background: rgba(255, 255, 255, 0)
  .confirmModal_No
    float: left
    height: 45px
    font-size: 1.2rem
    border-radius: 0rem 0.2857rem 0.2857rem 0.2857rem
  .confirmModal_Yes
    float: right
    margin-right: 0px 
    height: 45px
    font-size: 1.2rem
    border-radius: 0.2857rem 0rem  0.2857rem 0.2857rem