
<template name="directMessageModal">
<div class="ui segment dmModal_container myModal">

  <!-- Close Icon -->
  <i class="close icon"></i>
  <!-- Header Container -->
  <div class="ui dmHeader">
    <i class="mail outline icon"></i>
    <div class="content">
      <h1>Direct Message</h1>
      <div class="sub header">
        <div class="currentRecipiants_Container">
        <span>To:</span>
          <div class="dmLable_Container">
          <!-- Selected User List -->
          {{#each selectedRecipiants}}
            <div class="ui label blue">{{firstName}} &nbsp; {{lastName}}
            <i class="delete icon removeUser"></i></div>
          {{/each}}
            <div class="ui label red {{noRecipiants.visable}}">
              You Need A Recipiant To Send A Message Too
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form -->
  <form class="dmContent ui form" id="directMessage_Form">
  <!-- Subject and Add Recipiant Container -->  
    <div class="two fields">
      <div class="ui labeled input subjectLabel field  corner ">
        <div class="ui label">
          Subject:
        </div>
        <input 
          name= "subject"
          class="form-control" 
          placeholder="Title... " 
          type="text">
            <div class="ui corner label cornerLabel">
    <i class="asterisk icon"></i>
  </div>
      </div>
      <!-- Dropdown/Search -->
      <div class="ui floating dropdown labeled search icon button addNewRecipiant field {{searchState.state}}">
        <i class="user icon"></i>
        <input tabindex="0" class="search" {{searchState.state}}>
        <!-- PlaceHolder Text for the input -->
        <span class="text">{{searchState.text}}</span>
        <div style="" tabindex="-1" class="menu transition hidden">
        {{#each userSearch}}
          <div class="item userName">{{firstName}} {{lastName}}</div>
        {{/each}}
        </div>
      </div>
    </div>
  <!-- Message Input -->
    <div class="message">
      <div class="messageLabel">
        Message:
      </div>
      <!-- Due to edge cases this textarea dissapears on validation so I ditched it -->
      <textarea name="directMessage"></textarea>
    </div>
    <!-- Action -->
    <div class="dmActions_Container">
      <button class="ui negative right labeled icon button confirmModal_No">
        Cancel Message
        <i class="remove icon"></i>
      </button>
      <button class="ui positive left labeled icon button confirmModal_Yes {{noRecipiants.state}} submit" type="submit">
        Send Message
        <i class="checkmark icon"></i>
      </button>
    </div>
  </form >

</div>
</template>

