<template name="iconTagAdder">

<div class="ui right pointing dropdown icon button tagAdder">
  <!-- Button for tags -->
  <span class="tagButtonIcons">
    <i class="plus icon"></i>
    <i class="tag icon"></i>
  </span>
  {{> tagAdder}}
</div>


</template>