@import 'elf'

.loading_Container
  align-children(direction = both)
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0, 168, 255, 0.34)

.svg-loader{
  height: 20vmin;
  padding: 3vmin 20vmin;
  vertical-align: top;
}







@-moz-keyframes loader {
  0%, 10%, 100% {
    width: 90px;
    height: 90px;
  }
  65% {
    width: 250px;
    height: 250px;
  }
}
@-webkit-keyframes loader {
  0%, 10%, 100% {
    width: 90px;
    height: 90px;
  }
  65% {
    width: 250px;
    height: 250px;
  }
}
@keyframes loader {
  0%, 10%, 100% {
    width: 90px;
    height: 90px;
  }
  65% {
    width: 250px;
    height: 250px;
  }
}
@-moz-keyframes loaderBlock {
  0%, 30% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes loaderBlock {
  0%, 30% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes loaderBlock {
  0%, 30% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-moz-keyframes loaderBlockInverse {
  0%, 20% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@-webkit-keyframes loaderBlockInverse {
  0%, 20% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@keyframes loaderBlockInverse {
  0%, 20% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  -moz-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -moz-animation: loader 1.2s infinite ease-in-out;
  -webkit-animation: loader 1.2s infinite ease-in-out;
  animation: loader 1.2s infinite ease-in-out;
}
.loader span {
  position: absolute;
  display: block;
  width: 90px;
  height: 90px;
  background-color: #EE4040;
  -moz-animation: loaderBlock 1.2s infinite ease-in-out both;
  -webkit-animation: loaderBlock 1.2s infinite ease-in-out both;
  animation: loaderBlock 1.2s infinite ease-in-out both;
}
.loader span:nth-child(1) {
  top: 0;
  left: 0;
}
.loader span:nth-child(2) {
  top: 0;
  right: 0;
  -moz-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  -moz-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}
