@import 'elf'
//debug(color = blue)

///////////////////////
// Header Title
///////////////////////
.loginTitle_Container
  align-children(direction=horizontal)
  margin-bottom: 20px
  i
    font-size: 6em !important
  

///////////////////////
// Login/SignUp
///////////////////////
#login_Container
  cf()
  column(1)
  padding-bottom: 10px
  .field
    min-height: 85px
    margin-bottom: 0px

  

///////////////////////
//Login Form
/////////////////////// 

//positioning
.loginForm_Container
  column(1/3)
  shift(1/6)

//This overides jquerys silly error reporting to keep formating
.input
  .icon
    height: 40px !important
    width: 37px !important

//Button Size
.loginButton
  column(1/3)

//Forgot Password position
.forgotPassword
  float: right
  text-align: center
  p
    margin-bottom: 0



///////////////////////
// Divider
///////////////////////
.divider_Container
  align-children(direction = both)
  position: absolute
  left: 50%
  height: 233px
  width: auto 


///////////////////////
// Sign up Button
///////////////////////
.loginRegisterButton_Container
  column(1/3)
  shift(1/6)
  margin-left: 30px


.loginRegisterButton
  column(1)
  transform: translateY(40%);
  height: 125px
  .loginRegisterLabel
    align-children(direction = both)
    font-size: 1.5em
    height: 100%