<template name="login">


<!-- Header Title -->
  <div class="loginTitle_Container">
    <h2 class="ui icon header">
    <i class="sign in icon"></i>
      <div class="content">
        <div class="mainHeader">Login To View The Future</div>
        <div class="sub header">Your mind is about to be blown</div>
      </div>
    </h2>
  </div>

<!-- Login/SignUp -->
<div id="login_Container">

  <!-- Login Form -->
      <form id="application-login" >

        <div class="ui form segment loginForm_Container">
          <div class="field">
            <label>Username or Email</label>
            <div class="ui left icon input">
              <input 
                name="logincredential" 
                class="form-control input-username" 
                type="text" 
                placeholder="Username or Email">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <input 
                name="password" 
                class="form-control input-password" 
                type="password" 
                placeholder="Password">
              <i class="lock icon"></i>
            </div>
          </div>
          <input 
            type="submit" 
            class="ui blue submit button loginButton" 
            value="Login">
            <div class="forgotPassword">
              <p>Forgot Password?</p>
              <a href="{{pathFor route='recover-password'}}">Click Here</a>
            </div>
        </div>

      </form>

  <!-- Divider -->
<div class="divider_Container">
      <div class="ui vertical divider">
      Or
    </div>
</div>
  <!-- Sign Up Button -->
      <div class="loginRegisterButton_Container">
      {{#linkTo route="register.link"}}
        <div class="huge green ui labeled icon button loginRegisterButton">
          <i class="signup icon"></i>
            <div class="loginRegisterLabel">
              Register
            </div>
        </div>
        {{/linkTo}}
      </div>

  </div>


</template>
