<template name="recoverPassword">

<!-- Recover Password Container -->
  <div id="recoverP_Container">
    
<!-- Header Title -->
    <div class="recoverP_Title">
      <h2 class="ui icon header">
      <i class="unlock alternate icon mainIcon"></i>
        <div class="content mainHeaderContent">
          Recover Password
          <div class="sub header">Enter the email address associated with your account below and click the "Recover Password" button. <br> You will receive an email with further instructions on how to reset your password.</div>
        </div>
      </h2>
    </div>

<!-- Form Input -->
    <form class="recoverP_InputContainer" id="recoverPassword">
<!-- Email Input -->
      <div class="ui left icon huge input emailInput">
         <!-- <label>Email Address</label> -->
        <input 
          id="recoverP_emialInput"
          name="emailAddress" 
          class="form-control" 
          type="email" 
          placeholder="Email Address">
        <i class="mail icon"></i>
      </div> 
<!-- Buttons -->
      <div class="recoverButtons_Container">
        <div class="ui huge buttons recoverButtons">
            {{#linkTo route="index.link"}}
              <div class="ui button negative" id="recoverP_Cancle">Cancel</div>
            {{/linkTo}}
          <div class="or"></div>
          <input 
            id="recoverP_Recover" 
            class="ui button positive" 
            type="submit" 
            value="Recover">
        </div> 
      </div>
    </form>
  </div>

<!-- Succsess Message -->
  <div id="recoverP_Success">
    <div class="recoverP_SuccessContainer">
      <h2 class="ui icon header">
      <i class="unlock alternate icon sucessIcon"></i>
        <div class="content">
          <div class="mainSuccsessHeader">Recover Password Success</div>
          <div class="sub header subSuccsessHeader">
            Please check your email for your password recovery link
          </div>
        </div>
      </h2>
    </div>
    {{#linkTo route="index.link"}}
      <div class="massive ui button succsessButton">
        Back To Login
      </div>
    {{/linkTo}}
  </div>

</template>
