<template name="register">
<!-- Header Title -->
  <div class="registerTitle_Container">
    <h2 class="ui icon header">
    <i class="angle double down icon"></i>
    <div class="content">
      <div class="mainHeader">Register for the future</div>
      <div class="sub header">Set your mind free</div>
    </div>
  </h2>
  </div>

<!-- Form Segment -->  
  <div class="ui segment formRegister_Container">
    <!-- Token Ribbon -->
    <div class="tokenRibbon">
      {{#if tokenAdded}}
      <div class="ui green ribbon label tokenAdded">
        <div class="ribbonContent">
          Token Added 
          <span><i class="checkmark icon"></i></span>
        </div>
      </div>
        {{else}}
          {{#if addManualToken}}
              <div class="ui ribbon label addingToken red">
                <div class="ribbonContent">
                Please enter your token
                <span><i class="key icon"></i></span>
                </div>
              </div>
            {{else}}
              <div class="ui teal ribbon label addToken">
                <div class="ribbonContent">
                  Add Your Token
                  <span><i class="plus icon"></i></span> 
                </div>
              </div>
          {{/if}}
      {{/if}}
    </div>

    <form class="registerForm" id="register_Form">

    <!-- Username Input -->
      <div class="field f1">
        <label for="username">Username</label>
        <div class="ui left icon input">
           <input 
            name="username"   
            class="form-control register-username" 
            type="text" 
            placeholder="Username">
          <i class="user icon"></i>
        </div>
      </div>

    <!-- Email Input -->
      <div class="field f2">
        <label for="emailAddress">Email Address</label>
        <div class="ui left icon input">
          <input 
            name="emailAddress" 
            class="form-control register-email" 
            type="email" 
            placeholder="Email Address">
          <i class="mail icon"></i>
        </div>
      </div>

    <!-- Passowrd Input -->
      <div class="field f3">
        <label>Password</label>
        <div class="ui left icon input">
          <input 
            id="password"   
            name="password" 
            class="form-control" 
            type="password"  
            placeholder="Password">
          <i class="lock icon"></i>
        </div>
      </div>

    <!-- Passowrd Verification Input -->
      <div class="field f4">
        <label>Password Verification</label>
        <div class="ui left icon input">
          <input 
            class="form-control"
            name="cpassword" 
            type="password" 
            placeholder="Password Verification">
          <i class="lock icon"></i>
        </div>
      </div>

    <!-- Register Token -->
    <input 
      type="text" 
      name="emailToken" 
      class="form-control emailToken" 
      value="{{emailToken}}">

    <!-- Register Button -->
      <div class="registerButton_Container ">
        <button 
          id="registerButton" 
          class="green ui labeled icon button massive" 
          type="submit"
          >Register
          <i class="signup icon"></i>
        </button>
      </div>

    <!-- Token // Allready a Member Button -->
    <div class="addManualToken_Container">
      {{#if addManualToken}}
        <div class="registerMemeber addTokenInput">
          <div class="ui left icon input massive">
            <input 
              name="manualToken"
              class="manualToken" 
              type="text" 
              placeholder="Enter Your Token">
            <i class="key icon"></i>
          </div>
        </div>
      {{else}}
        <div class="allReadyMember_Container">
          <div class="allReadyMember registerMemeber">
            <p>Already a member?</p>
             <a href="{{pathFor 'login.link'}}">Login</a>
          </div>
        </div>
      {{/if}}
      </div>
    
    </form>
  </div>

<div>
</div>


</template>
