@import 'elf'
//debug(color=blue)


///////////////////////
// Header Title
///////////////////////
.registerTitle_Container
  align-children(direction=horizontal)
  i
    font-size: 6em !important
    margin-bottom: -25px !important

///////////////////////
// Form Segment
///////////////////////
.formRegister_Container
  span(1/2)
  shift(1/4)
  background: #F5F5F5 !important
  padding-bottom: 25px !important
  .field
    cf()
    column(1/2)
    cycle(2)
    min-height: 77px
    label
      column(1)
    .input
      span(1)
      
.emailToken
  display: none

///////////////////////
// Token Ribbon
///////////////////////
.tokenRibbon
  margin-top: -3px
  margin-bottom: 4px
  .tokenAdded
    cursor: default
  .addToken
    cursor: pointer
    &:hover
      background: lighten(teal, 10%) !important
  .addingToken.ui.ribbon.label
    &:hover
      background: lighten(#d95c5c, 10%) !important
  .ribbonContent
    cursor: pointer
    font-size: 1.3em
    margin-left: -12px
    i
      margin-right: 0px !important
      margin-left: 8px !important

///////////////////////
// Register Button
///////////////////////
.registerButton_Container
  column(1/2)
  margin-top: 8px
  button
    column(1)

///////////////////////
// Allready a Member Button
///////////////////////
.allReadyMember_Container
  column(1/2)
  margin-top: 8px
  .allReadyMember
    column(1/2)
    padding-top: 25px
    float: right
    text-align: center
    p
      margin: 0
    +tablet()
      column(1)

.addTokenInput
  column(1/2)
  margin-top: 8px
  .input
    span(1)
  input
    height: 62px
  .icon
    height: 62px !important
    font-size: 1.5em
  .ui.icon.input > .icon:before, .ui.icon.input > .icon:after
    margin-left: 5px !important
  label
    font-size: 13px
    