@import 'elf'
//debug(color = blue)

.resetP_Container
  cf()

///////////////////////
// Header Title
///////////////////////
.resetTitle_Container
  align-children(direction =horizontal)
  i
    font-size: 6em !important
    margin-left: 10px !important



///////////////////////
// Form Input
///////////////////////
.resetPasswordForm_Container
  cf()
  column(1)
  .newPassword_Container
    cf()
    span(1)
    align-children(direction =horizontal)
    height: 100px
  .repeatPassword_Container
    cf()
    span(1)
    align-children(direction =horizontal)
    height: 100px
  .form
    column(1/3)
    margin-bottom: 0px !important
    label
      font-weight: bold
    i
      height: 52px !important
    &:first-child
      margin-bottom: 10px
    

///////////////////////
// Buttons
///////////////////////
.resetButtons_Container
  cf()
  column(1)
  align-children(direction =horizontal)