<template name="resetPassword">
    
<div class="resetP_Container">

<!-- Header Title -->
    <div class="resetTitle_Container">
      <h2 class="ui icon header">
      <i class="unlock icon icon"></i>
        <div class="content">
          Reset Password
          <div class="sub header">Enter your new password below and repeat it to confirm. 
          <br>
          This will reset your password and log you into the application.</div>
        </div>
      </h2>
    </div>


<!-- Form Input -->
  <form id="resetPassword_Form" class="account-form" role="form">
    <div class="resetPasswordForm_Container">
       <!-- New Password Input -->
       <div class="newPassword_Container">
         
      <div class="ui form">
        <label>New Password</label>
        <div class="ui left icon huge input">
          <input  
            id="newPassword" 
            name="newPassword" 
            class="form-control" 
            type="password" 
            placeholder="New Password">
        <i class="privacy icon"></i>
        </div>
      </div>
       </div>
      <!-- Repeat Password -->
      <div class="repeatPassword_Container">
        
      <div class="ui form">
        <label>Repeat New Password</label>
        <div class="ui left icon huge input">
          <input 
            id="newPasswordConfirm" 
            name="repeatNewPassword" 
            type="password" 
            class="form-control" 
            placeholder="Password">
          <i class="privacy icon"></i>
        </div>
      </div>  
      </div>
  </div>

<!-- Buttons -->
      <div class="resetButtons_Container">
        <div class="ui huge buttons resetP_Buttons">
            {{#linkTo route="index.link"}}
              <div class="ui button negative">Cancel</div>
            {{/linkTo}}
          <div class="or"></div>
          <button class="ui button positive" type="submit" id="resetP_Reset">Recover
          </button>
        </div> 
      </div>
    </form>


</div>

</template>

