<template name="LayoutDefault">
  <div class="LayoutDefault_Container" >
    {{#if  currentUser}}
      {{>sidebar}}
      <div id="PrivateContainer">
        {{>yield}}
      </div>
    
    {{else}}

    {{>header}}
    <div id="PublicContainer">
      {{>yield}}
    </div>
    {{/if}}

    <!-- Error Handeling -->
    <div id="AppMessage">
      {{> ErrorMessage}}
      {{> SuccessMessage}}
    </div>
  </div>
</template>
