
<template name="indvMessageDisplay">

  <div class="indvMessage_Container 
  {{messageInfo.type}} {{messageInfo.isReply}} {{messageInfo.isSelected}}" 
  data-templateid="{{messageInfo.getId}}">

        <div class="messageSelector_Container">
          <!-- CheckBox -->
          <div class="messageCheckbox">
            <div class="ui toggle checkbox toggleMessage">
              <input type="checkbox" name="public">
              <label></label>
            </div>

            <!-- Favorit -->
            <div class="messageFav">
              <div class="ui large star rating" data-rating="0" data-max-rating="1"></div>
            </div>          
          </div>
        </div>

      <div class="messageInfo_Container">
       
        <div class="senderInfo openMessageThread">
          <a class="senderAvatar">
           <img 
                class="avatarPopUp"
                src="{{identicon sender_Id}}" 
                data-html="
                  <div class='popup_Container'>
                    <div class='userName_Popup'>{{senderName}}</div>
                    <div class='ui divider divider_Popup'></div>
                    <div class='ui vertical buttons'>
                      <div class='mini green ui button'>
                        Send Message
                      </div>
                      <div class='mini blue ui button'>
                        View Profile
                      </div>
                    </div>
                  </div>
                ">
          </a>

          <div class="messageAuthor">
              <a class="author">
                {{senderName}}
              </a>
          </div>
        </div>

        <div class="messageDetails_Container">
          
          <div class="main_Container">
            <div class="messageContent openMessageThread">

<!-- {{#each currentTags}}
  ...
{{/each}} -->


{{#if hasTags}}
  <!-- Has Tags -->
    <!-- Message -->
    <div class="messageSubject" style="height: 25px">
      <div class="teaser">{{subject}} &nbsp;–&nbsp; {{message}}</div>
    </div>
    <!-- Tasg -->
    <div class="currentTag_Container">
      {{> tagDisplay}}
    </div>
  {{else}}
  <!-- No Tags -->
    <div class="messageSubject">
      <div class="teaser">{{subject}} &nbsp;–&nbsp; {{message}}</div>
    </div>
{{/if}}


            </div>

            <div class="tagAdder_Container indvMessageTagAdder">
              {{> iconTagAdder}}
            </div>

          </div>
          
          
          <div class="date">
            {{FormatDate timestamp 'short'}}
          </div>
        </div>  

      </div>
<!--         <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
        <div class="content">
          <a class="header">Daniel Louise</a>
        </div> -->





  </div>

</template>