@import 'elf'
//debug(color = gray)

//1px solid rgba(39, 41, 43, 0.15)

  //background: gray
      

.indvMessage_Container
  span(1)
  height: 50px;
  line-height: 50px;
  box-shadow: 0px -1px 0px rgba(39, 41, 43, 0.15) inset
  transition: background 0.05s ease-in-out;
  &:hover
    background: #efefef
    transition: background 0.05s ease-in-out;
  .messageSelector_Container
    width: 110px
    float: left
    padding-left: 10px
    .messageCheckbox
      align-children(direction = both)
      float: left
      height: 50px 
    .messageFav
      align-children(direction = both)
      float: left
      height: 50px
      .star
        height: 35px
  //Message Info Container
  .messageInfo_Container
    width: calc(100% - 110px);
    float: left
    height: 50px
    
    //Sender info
    .senderInfo
      align-children(direction = vertical)
      float: left
      width: 190px
      height: 50px
      margin-right: 10px
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      .senderAvatar
        align-children(direction =vertical)
        float: left
        height: 50px
        width: 35px
        img
          border-radius: 50%
      .messageAuthor
        align-children(direction = vertical)
        width: calc(100% - 55px)
        float: left
        margin-left: 10px
        font-size: 1.2rem
        a
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: rgba(0, 0, 0, 0.8)
        
    
    .messageDetails_Container
      width: calc(100% - 200px);
      float: left


.messageDetails_Container
  .main_Container
    span(9/10)
    height: 50px
    .messageContent
      //display: flex
      width: calc(100% - 55px)
      float: left
      height: 50px
      padding-right: 10px
      .messageSubject
        span(1)
        align-children(direction =vertical)
        //Height calced by helper
        .teaser
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-size: 1.15em
      .currentTag_Container
        span(1)
        height: 25px
        ul
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin: 0
          li
            display: flex
            height: 20px
            padding-right: 4px
            padding-left: 4px
            padding-top: 5px
            padding-bottom: 4px
    .tagAdder_Container
      align-children(direction =vertical)
      width: 55px
      height: 50px
      float: left
      .tagAdder
        align-children(direction =vertical)
        height: 25px
        padding: 3px
  .date
    span(1/10)
    float: right


//If users mouse leaves this continare the popup will be dystroyed
.popup_Container
  padding-top: 55px;
  margin-top: -55px;
  padding-left: 15px;
  margin-left: -15px;
  padding-right: 15px;
  margin-right: -15px;
  padding-bottom: 15px;
  margin-bottom: -15px;

.userName_Popup
  font-weight: bold
  text-align: center
  font-size: 1.1rem
.divider_Popup
  margin-top: 2px !important
  margin-bottom: 2px !important


.messageList
  .openMessageThread
    cursor: pointer


//Active thread
.messageList
  .indvMessage_Container
    transition: all 0.25s ease-in-out;
  .activeThread
    background: #efefef
    border-left: 5px solid teal 
    transition: all 0.25s ease-in-out;
  .mainActiveThread
    background: darken(#efefef, 5%)
    border-left: 10px solid teal 
    transition: all 0.25s ease-in-out;
  //Toggle selection class
  .highlightSelection
    background: rgba(159, 252, 160, 0.61)
    transition: background 300ms linear;


.messageList
  .newMessage
    .messageSubject
      font-weight: bold
    .senderInfo
      font-weight: bold
    .date
      font-weight: bold
  .readMessage
    .messageSubject
      font-weight: 300
    .senderInfo
      font-weight: 300
    .date
      font-weight: 300


















// //Commetns
// .messageInbox_Containter
//   margin-top: 70px
//   height: 90vh
//   box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05)
//   overflow-y: scroll
//   overflow-x: hidden
//   border-radius: 4px
//   padding-bottom: 30px
//   .segment
//     background: transparent
//     padding-top: 10px
//   .comments
//     span(1)
//     max-width: none !important
//   //Indiv. Message Container
//   .indvMessageHeader_Container
//     background: rgba(220, 220, 220, 0.14)
//     border-radius: 2px
//     span(1)
//     display: inline-flex
//     box-shadow: 0px 5px 0px rgba(39, 41, 43, 0.08)
//     margin-bottom: 10px
//     .indvAuthor_Contatiner
//       span(1/4)
//       padding-right: 5px
//     //Current Tags
//     .currentTags_Container
//       span(3/4)
//       ul
//         float: right
//         margin-right: 65px
//         margin-top: 0px
//         margin-bottom: 0px
//       .messageTag
//         opacity: 0.85
//     //Tag Dropdown
//     .messageTag_Contatiner
//       position: absolute
//       right: 0px
//       .indvMessageTagAdder
//         margin-right: 0px
//         padding: 5px
//       .tagButtonIcons
//         .icon
//           margin: 0px  !important
//       //Tag Menu
//       .menu
//         .input
//           margin-left: 0px
//           margin-right: 0px
//           padding-right: 0px !important
//           font-size: 0.95rem
//         .tagSearchIcon
//           top: -12px
//         //No tag restult item
//         .noTagResults
//           background: rgba(255, 0, 0, 0.05)
//           span
//             font-weight: bold
//         //Add New Tag
//         .addNewTag
//           background: rgba(0, 128, 0, 0.2)
//           transition: all 0.2s ease-in-out;
//           span
//             font-weight: bold
//           &:hover
//             background: rgba(0, 128, 0, 0.4)
//             transition: all 0.2s ease-in-out;



// //Message Body
// .messageBody
//   .showFullMessage
//     align-children(direction =horizontal)
//     margin-top: 3px
//     .showFullMessageButton
//       padding: 0.2rem

// //Message Actions
// .messageInbox_Containter
//   .messageActions
//     span(1/2)
//     //margin-top: 10px
//   //Mark As Read
//   .messageRead
//     background: rgba(232, 232, 232, 0.02)
//     border: solid 2px rgba(232, 232, 232, 0.86)
//     box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05)
//     padding: 2px
//     i
//       font-size: 1.1rem
//       margin-right: 1px !important
//       margin-left: 3px !important
//   //Delete Message
//   .messageDelete
//     color: #E0785D !important
//     padding: 2px
//   .messageReplyForm
//     opacity: 0
//     display: none
//     .submitReplyButton
//       float: right


// //Recipiants
// .messageInbox_Containter
//   .recipiantList
//     span(1/2)
//     ul
//       float: right
//       padding-top: 2px
//       padding-bottom: 2px;
//       padding-right: 5px;
//       padding-left: 5px;
//       margin: 0px !important
//       background: rgba(224, 224, 224, 0.42)
//       border-radius: 0.25em
//       box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05)
//       .recipiants
//         font-size: 2rem
//         width: auto !important
//         color: rgba(60, 60, 60, 0.49)
//         margin-top: 0px !important
//         margin-bottom: 0px !important
//         padding-right: 5px
//         //border-right: 6px solid rgba(170, 170, 170, 0.46)
//       .avatar
//         margin-top: 0px !important
//         margin-bottom: 0px !important
//         margin-left: 0px !important
//       li
//         margin-right: 2px !important
//         &:last-child
//           margin-right: 0px !important
//         img
//           border-radius: 50% !important
//           border: solid rgba(155, 155, 155, 0.31) 4px
//           //box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05)
      





// //Message Hidden
// .hiddenMessage
//   span(1)
//   align-children(direction =horizontal)
//   padding: 3px;
//   opacity: 0
//   span
//     font-weight: bold