<template name="messageDisplay">
    <div class="ui vertical segment indvMessages_Container">
{{#if isMessageHidden.display}}

  <div class="ui message hiddenMessage">
    <div class="ui basic button unHideMessage">
      <i class="icon unhide"></i>
      Show <span>{{isMessageHidden.subject}}</span> Message || From {{isMessageHidden.sender}}
    </div>
  </div>

  {{else}}

  <!-- Indv. Message Containter -->
  <div class="item indvMessage_Container">
    <div class="ui threaded comments">
      <div class="comment">
      <!-- Avatar -->
      <a class="avatar senderAvatar">
       <img 
            class="avatarPopUp"
            src="{{identicon sender_Id}}" 
            data-html="
              <div class='userName_Popup'>{{senderName}}</div>
              <div class='ui divider divider_Popup'></div>
              <div class='ui vertical buttons'>
                <div class='mini green ui button'>
                  Send Message
                </div>
                <div class='mini blue ui button'>
                  View Profile
                </div>
              </div>
            ">
      </a>
        <!-- Message Content -->
        <div class="content">
          <!-- Message Header -->
          <div class="indvMessageHeader_Container">
          <!-- MetaData / Author Name / Subject / Send Dat -->
          <div class="indvAuthor_Contatiner">
            <div class="messageAuthor">
              <!-- Author -->
              <a class="author">
                {{senderName}}
              </a>
              <span>
                <div class="metadata ">
                <div class="date">{{FormatDate timestamp 'short'}}</div>
                </div>
              </span>
            </div>
            <!-- Subject -->
              <div  class="messageSubject">
                Subject: <span>{{subject}}</span>
              </div>
          </div>
          <!-- Tags -->
          <div class="currentTags_Container">
            <ul>
              {{#each currentTags}}
                <li class="ui label messageTag" style="background-color: {{tagColor}};">
                {{tagName}}
                  <a><i class="delete icon deleteTag" name="{{tagName}}"></i></a>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="messageTag_Contatiner">
            <!-- Tag Dropdown (Adder / Searcher) -->
            <div class="ui right pointing dropdown icon button indvMessageTagAdder">
              <!-- Button for tags -->
              <span class="tagButtonIcons">
                <i class="plus icon"></i>
                <i class="tag icon"></i>
              </span>
              <!-- Menus Containter for Tags -->
              <div class="menu tagMenu">
              <!-- Tag Search -->
                <div class="ui transparent left icon input search ">
                  <i class="search icon tagSearchIcon"></i>
                  <!-- Tag Search Input -->
                  <input 
                    type="text" 
                    class="tagSearch" 
                    name="search" 
                    placeholder=" Search/Create Tags">
                </div>
                <div class="divider"></div>
                {{#if isTagSearchActive}}
                <!-- Tag Search Results -->
                <div class="header">
                  <i class="tags icon"></i>
                  Search Results
                </div>
                  <!-- Add new tag option -->
                  {{#if noTagSearchResults}}
                    <div class="item noTagResults">
                        <i class="attention red icon"></i>
                      No Results for <span>{{tagSearchValue}}</span>
                    </div>
                    <!-- Add new tag button -->
                    <div class="item addNewTag">
                      <i class="plus green icon"></i>
                      Add <span>{{tagSearchValue}}</span> Tag
                    </div>
                  {{else}}
                  <!-- Tag Search Results -->
                    {{#each tagSearchResults}}
                      <div class="item addTag">
                        <div class="ui empty circular label" 
                        style="background-color: {{tagColor}}">
                        </div>
                        {{tagName}}
                      </div>
                    {{/each}}
                  {{/if}}
                <!-- Defualt tags (most common tags) -->
                {{else}}
                  <div class="header">
                    <i class="tags icon"></i>
                    Common Tags
                  </div>
                  {{#each commonTags}}
                    <div class="item addTag">
                      <div class="ui empty circular label" 
                      style="background-color: {{tagColor}}"></div>
                      {{tagName}}
                    </div>
                  {{/each}}
                {{/if}}
              </div>
            </div>
          </div> <!-- Message Tag Container -->
        </div> <!-- Message Header Container -->
        
        <!-- Message Body -->
        <div class="messageBody">
        {{#if messageDisplay.showMore}}
          <div class="messageContent">{{messageDisplay.message}}</div>
          <div class="showFullMessage">
            <div class="ui icon blue basic button showFullMessageButton">
              <i class="ellipsis horizontal icon"></i>
            </div>
          </div>
          {{else}}
          {{messageDisplay.message}}
        {{/if}}
        </div>
          
        <div class="messageFooter">
          <!-- Message Action Buttons -->
          <div class="messageFooter_Container">
            
          <div class="actions messageActions">
            {{#if isMessageRead}}
              <a class="ui label messageDelete">
                Delete Message
              </a>
              {{else}} 
              <a class="ui label messageRead">
                Mark As Read <i class="unhide icon"></i>
              </a>
            {{/if}}
            <a class="reply messageReply">Reply</a>
            <a class="save">Save</a>
            <a class="hide messageHide">Hide</a>
            <a>
            <i class="expand icon messageFullScreen"></i>
            Full-screen
            </a>
          </div>

          <!-- Recipiants list-->
          {{#if oneOrMoreRecipiants}}
            <div class="recipiantList">
              <ul>
                <li class="avatar recipiants">
                  <i class="users icon"></i>
                </li>
                {{#each recipiantList}}
                  <li class="avatar">
                    <img 
                      class="avatarPopUp"
                      src="{{identicon recipiant_Id}}" 
                      data-html="
                        <div class='userName_Popup'>{{recipiantName}}</div>
                        <div class='ui divider divider_Popup'></div>
                        <div class='ui vertical buttons'>
                          <div class='mini green ui button'>
                            Send Message
                          </div>
                          <div class='mini blue ui button'>
                            View Profile
                          </div>
                        </div>
                      ">
                  </li>
                {{/each}}   
              </ul>
            </div>
          {{/if}}
          </div>
        </div> <!-- Message Content -->
      </div> <!-- Footer endd -->
  

      </div>
      <!-- Messgae Reply -->
      {{#if isMessageReply}}
            <form class="ui reply form messageReplyForm">
            <div class="field">
              <textarea name="messageReply"></textarea>
            </div>
            <div class="ui red labeled icon button cancleReplyButton">
              <i class="icon close"></i> Cancel
            </div>
            <div class="ui blue labeled submit icon button submitReplyButton">
              <i class="icon edit"></i> Add Reply
            </div>
          </form>
          {{else}}
      <!-- no form -->
      {{/if}}<!-- #if reaply form -->
    </div>
  </div> <!-- Indv. Message Containter -->
{{/if}} <!-- #if message hidden -->
</div>
</template>