<template name="messageThread">
  

<div class="messageThread_Wrapper">

{{#if isThreadActive}}
  <!-- Menu -->
    <div class="threadMenu">
      <div class="circular ui icon button backButton basic huge">
        <i class="chevron right icon"></i>
      </div>
      <div class="threadTitle">
        <h1>Messages (<span>{{threadCount}}</span>)</h1>
      </div>
    </div>

  <div class="messageThread_Container">

{{#if threadSubReady}} <!-- Thread Sub -->

<div class="threadBody_Container scrollBar">
  
{{#each messageThread}}
  <!-- Messages -->
    <div class="threadMessage ui raised segment {{segmentType}}"
         data-thread_id = "{{messageId}}">
      <div class="details">
        <div class="sender">{{{threadSender}}}</div>
        <div class="arrow">
          <i class="long arrow  right icon {{segmentType}}"></i>
        </div>
        <div class="reciver">{{{threadRecipiants}}}</div>

        <div class="date">March 6, 2014, 20:08 pm</div>
      </div>

    <!-- Divider -->
    <div class="messageThreadDivider">
      <p class='name'>{{subject}}</p>
    </div>

    <!-- Message -->
    <div class="message">
      <p>{{message}}</p>
    </div>


    <!-- Messgae Reply -->
    <div class="messageReply_Container">
      
      <div class="form_Container">
      {{#if isMessageReply _id}}
          <form class="ui reply form messageReplyForm">
            <div class="ui field input">
              <textarea 
                name="messageReply"
                class="form-control messageReply" 
                type="text" 
                placeholder="Message Reply"
                ></textarea>
            </div>
            <div class="ui red labeled icon button cancleReplyButton">
              <i class="icon close"></i> Cancel
            </div>
            <button class="ui blue labeled submit icon button submitReplyButton" value='submit'>
              <i class="icon edit"></i> Reply
            </button>
          </form>
      {{/if}}<!-- #if reaply form -->
    </div>

    <div class="footer">
      <!-- Tags -->
      <div class="tag_Container">
          {{> tagDisplay}}
      </div>

      <!-- Action  Button -->
      <div class="actionButtons">
        <div class="ui icon basic buttons">
          {{#if isNewestMessage}}
            <div class="ui button threadReply">
              <i class="reply icon"></i>
            </div>
          {{/if}}
          {{> buttonTagAdder}}
          <div class="ui button deleteMessage">
            <i class="remove icon"></i>
          </div>
        </div>
      </div>
    </div>
  
  </div>

  </div><!-- Message Segment -->

{{/each}}

<div class="ui message noMoreMessages">
  <div class="content">
    <i class="inbox icon"></i>
    <div class="header">
      No More Messages.
    </div>
  </div>
</div>

</div>  <!-- Thread Body -->

{{else}}
  {{> Loading}}
{{/if}} <!-- Thread Sub -->
  
  </div><!-- messageThread_Container -->


  {{else}}
  <h1>Loading</h1>
{{/if}}
</div>


</template>