@import 'elf'
//debug(color = gray)

.activeFolderTag
  padding: 0px  !important
  animation: fadeIn 3s

.folderTagExit
  font-size: 2rem  !important
  padding: 0px  !important
  opacity: 0

////////////////////////////////////////////////////////////////////////////////
//Wrappers
////////////////////////////////////////////////////////////////////////////////
//Body
#message_TmplWrapper
  position: absolute
  width: 100%
  bottom: 0
  top: 0
//Part-1
#messageNav_Wrapper
  span(1)
  margin-top: 10px
  height: 35px
//Part-2
#messageActionBar_Wrapper
  span(1)
  padding-top: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  //overflow: hidden;
  height: 100px
//Part-3
#messageInbox_Wrapper
  position: absolute;
  top: 145px;
  bottom: 0;
  left: 0
  right: 0
  height: auto;
//Part-4
#messagePagnation_Wrapper
  position: absolute
  bottom: 0
  height: 50px
  left: 0
  right: 0

////////////////////////////////////////////////////////////////////////////////
//Main Nav
////////////////////////////////////////////////////////////////////////////////
//--------------------------//
//Fetures
//-------------------------//
//Message Folder Selector Dropdown
#messageNav_Wrapper
  .messageFolderDropdown
    width: 85px
    .menu
      width: 112px
      margin-left: -15px
      margin-top: 12px
      //Divider Border - Line conflict -- looks sorta shitty
      // .item
      //   border-top: 1px solid rgba(0,0,0,.05) !important

////////////////////////////////////////////////////////////////////////////////
//Action Bar
////////////////////////////////////////////////////////////////////////////////
//--------------------------//
//Container
//-------------------------//
#messageActionBar_Wrapper
  .actionBar_Container
    width: calc(100% - 200px)
  //Buttons
  .actionButtons_Container
    float: left
    margin-top: 0px
//--------------------------//
//Fetures
//-------------------------//
//Header
#messageActionBar_Wrapper
  //Title
  .folderTitle
    font-weight: 700;
    line-height: 1.33em;
    color: rgba(0,0,0,.8);
    font-size: 2rem
  //Icon
  .folderIcon
    width: 100px
    text-align: center
    font-size: 4.5rem
    float: left
    margin-right: 14px

//Buttons
#messageActionBar_Wrapper
  //Selector
  .messageSelector
    .item
      border-top: 1px solid rgba(0,0,0,.05) !important


////////////////////////////////////////////////////////////////////////////////
//Message List
////////////////////////////////////////////////////////////////////////////////
#messageInbox_Wrapper
  .messageList
    position: absolute
    bottom: 0px
    top: 0px
    right: 0px;
    // right: 5px;
    left: 0
    padding-bottom: 50px
    overflow-y: scroll
    overflow-x: hidden
  

////////////////////////////////////////////////////////////////////////////////
//Pagnator
////////////////////////////////////////////////////////////////////////////////
#messagePagnation_Wrapper
  .Paginator_Container
    position: relative
    width: 100%
    margin-top: 1px