@import 'elf'
//debug(color = gray)

.messageThread_Wrapper
  position:absolute;
  width:100%;
  height:100%;
  opacity: 0
  //background: white

.messageThread_Container
  width: calc(100% * .5)
  height:100%
  padding: 0px 20px 20px 0px
  border-left: 10px solid white
  

.messageThread_Wrapper
  .threadMenu
    align-children(direction = vertical)
    border-bottom: 10px solid white
    border-left: 10px solid white
    padding-left: 23px 
    .backButton
      width: 50px
      height: 50px
    //Title
    .threadTitle
      margin-left: 15px
      h1
        font-size: 3rem
        font-weight: 100
        margin-top: 15px
        margin-bottom: 15px
        //Span color

.messageThread_Container
  .threadBody_Container
    cf()
    height: 100%
    overflow: scroll
    padding-right: 10px
    padding-left: 20px
    margin-right: -10px

.messageThread_Container
  .threadMessage
    span(1)
    &:first-child
      margin-top: 24px
    .details
      span(1)
      height: 50px
      .sender
        align-children(direction = vertical)
        font-size: 1.5rem
        float:left
        height: 50px
      .arrow
        align-children(direction = vertical)
        float:left
        height: 50px
        padding-left: 5px
        padding-right: 5px
        i
          font-size: 1.5rem
      .reciver
        align-children(direction = vertical)
        font-size: 1.5rem
        float:left
        height: 50px
      //Date
      .date
        align-children(direction = vertical)
        font-size: 1.5rem
        float: right
        height: 50px

    
    // position: absolute
    // top: 0
    // bottom: 0
    // right: 0
    // left: 0

//Sebject Title / divider
.messageThreadDivider
  position: relative
  text-align: left
  line-height: 1.2
  margin: 50px 0 10px
  &::before
    content: ""
    display: block
    position: absolute
    top: 10px
    width: 100%
    border-top: 1px solid rgba(0, 0, 0, 0.15)
  p
    text-decoration: none
    &.name
      display: inline-block
      border: 1px solid rgba(0, 0, 0, 0.44)
      background: #fff
      text-transform: uppercase
      font-size: 12px
      padding: 3px 8px 2px 12px
      letter-spacing: .3em
      color: rgba(0, 0, 0, 0.6)
      position: relative
      &:hover
        border-color: rgba(0, 0, 0, 0.6)
        color: rgba(0, 0, 0, 0.8)
      &:active
        outline: 0
        
//Message
.messageThread_Container
  .message
    span(1)
  
//Message Footer
.messageThread_Container
  .footer
    span(1)
  //Tags
    .tag_Container
      float: left
      margin-top: 20px
      ul
        padding-left: 0
        margin: 0px
  //Action
    .actionButtons
      float: right
      margin-top: 10px


//Message Reply
.messageThread_Container
  .messageReply_Container
    span(1)
    opacity: 1;
    margin-top: 25px
    .form_Container
      opacity: 0
  textarea
    span(1)
  .cancleReplyButton
    float: left
  .submitReplyButton
    float: right


//No more Messages
.noMoreMessages
  align-children(direction =horizontal)
  .content
    span(1)
    text-align: center
    .inbox
      font-size: 2rem
    .content
      font-size: 1.5rem 