
<template name="messages">
<div id="message_TmplWrapper">
  
  <div id="messageNav_Wrapper">
    <div class="ui secondary pointing menu">



  
{{#unless tagFolderFilterActive}}
    <div class="item {{isActivePath 'inboxMessages' 'newMessages' 'readMessages'}}">
      <div class="ui dropdown messageFolderDropdown">
        <i class="mail icon"></i>
        <div class="text">Inbox</div>
        <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">Folders</div>
            <div class="item inboxMessages">Inbox</div>
            <div class="item newMessages">New</div>
            <div class="item readMessages">Stared</div>
            <div class="item readMessages">Read</div>
            <div class="item sentMessages">Sent</div>
          </div>
      </div>
    </div>
{{/unless}}

{{#if tagFolderFilterActive}}
<div class="item folderTagExit messageNavButton">
  <i class="remove red icon "></i>
</div> 
{{/if}}



<div class="ui floating labeled icon dropdown button tagFolder item">
  <i class="filter icon"></i>
  <span class="text">Tag Folders</span>
  <div class="menu">
    <div class="header">
      Search Tag Folder
    </div>
    <div class="ui left icon input">
      <i class="search icon"></i>
      <input class="tagFolderSearch" type="text" name="search" placeholder="Search...">
    </div>
    {{#if isFolderTagSearchActive}}
    <!-- Tag Search Results -->
    <div class="header">
      <i class="tags icon"></i>
      Search Results
    </div>
      <!-- Add new tag option -->
      {{#if noTagFolderSearchResults}}
        <div class="item noTagResults">
            <i class="attention red icon"></i>
          No Results for <span>{{tagSearchValue}}</span>
        </div>
        <!-- Add new tag button -->
        <div class="item addNewTag">
          <i class="plus green icon"></i>
          Add <span>{{tagSearchValue}}</span> Tag
        </div>
      {{else}}
      <!-- Tag Search Results -->
        {{#each tagFolderSearchResults}}
          <div class="item tagFolderFilter">
            <div class="ui empty circular label" 
            style="background-color: {{tagColor}}">
            </div>
            {{tagName}}
          </div>
        {{/each}}
      {{/if}}
    <!-- Defualt tags (most common tags) -->
    {{else}}
      <div class="header">
        <i class="tags icon"></i>
        Common Tags
      </div>
      {{#each commonTags}}
        <div class="item tagFolderFilter">
          <div class="ui empty circular label" 
          style="background-color: {{tagColor}}"></div>
          {{tagName}}
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>

{{#if tagFolderFilterActive}}
  {{#each activeFolderTags}}
    <div class="item activeFolderTag">
      <div class="ui label huge" style="background: {{tagColor}}">
      {{tagName}}
      <i class="delete icon removeIndvTagFilter"></i>
      </div>
    </div>
  {{/each}}
{{/if}}

<!-- Search Menu -->
  <div class="right menu">
    <div class="item">
      <div class="ui icon input messageSearch">
        {{> esInput id="messageSearch" index="messages" placeholder="Search..." }}
        <i class="search link icon"></i>
      </div>
    </div>
  </div>


    </div>


  </div>

<!-- Part-3 -->
<div id="messageActionBar_Wrapper"> <!-- messageActionBar_Wrapper -->
  <div class="actionBar_Container"><!-- actionBar_Container -->
   
    <!-- Header Icon -->
    <div class="folderIcon">
      <i class="folder open outline icon"></i>
    </div>
    <!-- Header -->
    <div class="folderTitle">
      <!-- When no search -->
      {{#ifEsInputIsEmpty id="messageSearch" index="messages"}}
          {{currentContext}}
        {{else}}
          {{#ifEsIsSearching id="messageSearch" index="messages"}}
              <div>Loading...</div>
            {{else}}
              <div class="messageSearchTitle">
                Search Results for <span>{{messageSearchValue}}</span>
              </div>
          {{/ifEsIsSearching}}
      {{/ifEsInputIsEmpty}}
    </div>


    <div class="actionButtons_Container"><!-- ActionButton_Container -->
      <div class="ui icon top left pointing dropdown button basic medium messageSelector">
        <!-- Button for tags -->
        <span class="text">Select</span>
        <i class="plus icon"></i>
        <!-- Main Menu Container -->
        <div class="menu">
          <!-- Header -->
          <div class="header">
            <i class="setting icon"></i>
            <span class="text">Selection Options</span>
          </div>
          <!-- Page Selector Menu -->
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">
              Current Page
            </span>
            <!-- Sub Menu -->
            <div class="menu">
              <div class="item cp_All">
                <i class="plus icon"></i>
                <span class="text">
                  All
                </span>
              </div>
              <div class="item cp_None">
                <i class="remove icon"></i>
                <span class="text">
                  None
                </span>
              </div>
              <div class="item cp_UnRead">
                <i class="hide icon"></i>
                <span class="text">
                  Un-Read
                </span>
              </div>
              <div class="item cp_Read">
                <i class="unhide icon"></i>
                <span class="text">
                  Read
                </span>
              </div>
              <div class="item cp_Stared">
                <i class="star icon"></i>
                <span class="text">
                  Stared
                </span> 
              </div>
            </div>
          </div>
          <!-- Folder Menu -->
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">
              {{currentContext}} Folder
            </span>
            <!-- Sub Menu -->
            <div class="menu">
              <div class="item cf_All">
                <i class="plus icon"></i>
                <span class="text">
                  All
                </span>
              </div>
              <div class="item cf_None">
                <i class="remove icon"></i>
                <span class="text">
                  None
                </span>
              </div>
              <div class="item cf_UnRead">
                <i class="hide icon"></i>
                <span class="text">
                  Un-Read
                </span>
              </div>
              <div class="item cf_Read">
                <i class="unhide icon"></i>
                <span class="text">
                  Read
                </span>
              </div>
              <div class="item cf_Stared">
                <i class="star icon"></i>
                <span class="text">
                  Stared
                </span>
              </div>
            </div>
          </div>
          <!-- None Selector -->
          <div class="item selectorNone">
            <i class="minus square icon"></i> 
            <span class="text">
              None
            </span>
          </div>
        </div>
      </div>

      <!-- Mark As ///// -->
      <div class="ui icon buttons basic big">
        <div class="circular ui icon button basic big markAsRead">
          Mark As Read
        </div>
          <div class="circular ui icon button basic big markAsUnread">
          Mark As UnRead
        </div>
      </div>

      <!-- Delete -->
      <div class="ui icon buttons basic big">
        <div class="circular ui icon button basic big deleteSelectedMessages">
          <i class="icon remove red"></i>
        </div>
          <div class="circular ui icon button basic big">
          <i class="icon settings"></i>
        </div>
      </div>
      
      <!-- Tag Adder -->
      <div class="ui icon buttons basic big">
        <div class="ui icon top left pointing dropdown button groupTag tagAdder">
          <!-- Button for tags -->
          <i class="tag icon"></i>
          <i class="plus icon"></i>
          {{> tagAdder}}
        </div>
          {{> tagRemover}}
      </div>

    </div><!-- ActionButton_Container -->
  </div><!-- actionBar_Container -->
</div> <!-- messageActionBar_Wrapper -->

<!-- Part-3 -->
<div id="messageInbox_Wrapper">
      {{messageSetup}}
    <div class="messageList scrollBar">
        {{#ifEsInputIsEmpty id="messageSearch" index="messages"}}
            <!-- Message Display -->
            {{#if messageSubReady}}
              {{#each messages}}
                {{> indvMessageDisplay}}
              {{/each}}
            {{else}}
              {{> Loading}}
            {{/if}}
          <!---->
          {{else}}
          <!---->
            <!-- Search Results -->
            {{#ifEsIsSearching id="messageSearch" index="messages"}}
                <div>Loading...</div>
              {{else}}
                {{#esEach id="messageSearch" index="messages"}}
                  {{> indvMessageDisplay}}
                {{/esEach}}
            {{/ifEsIsSearching}}
          <!-- No Resutls -->
          {{#ifEsHasNoResults id="messageSearch" index="messages"}}
            <div class="no-results">No results found!</div>
          {{/ifEsHasNoResults}}
        {{/ifEsInputIsEmpty}} 
      <!-- Nothing Found -->
      {{#unless messagesToBeDisplayed}}
        <h1>{{nothingFoundMessage}}</h1>
      {{/unless}}
    </div>
</div>

<!-- Part-4 -->
<div id="messagePagnation_Wrapper">
  {{#if  messagesToBeDisplayed}}
    {{#ifEsInputIsEmpty id="messageSearch" index="messages"}}
      {{> Paginator_UI messages}}
    {{/ifEsInputIsEmpty}}
  {{/if}}
</div>



</div>




<div id="messageThread_Wrapper">
  {{#if  isThreadActive}}
    {{> messageThread}}
  {{/if}}
</div>

</template>






