<!-- Templetes get injected into messageControl and displated by messageDisplay -->

<!-- <template name="messageControl">

  {{> DynamicTemplate template=getTemplate}}
</template>

<template name="inboxMessages">
  {{> indvMessageDisplay}}
</template>

<template name="newMessages">
  {{> indvMessageDisplay}}
</template>

<template name="sentMessages">
  {{> indvMessageDisplay}}
</template>

<template name="readMessages">
  {{> messageDisplay}}
</template>

<template name="tagFolder">
  {{> messageDisplay}}
</template>


<template name="noMessagesToDisplay">
  <h1>Nothing To Display Dog</h1>
</template> -->