@import 'elf'

.Paginator_Container
  position: fixed
  .pagShadow
    position: static
    height: 8px
    background: transparent
    width: 100%
    top: -8px
    opacity: 0.6
.pagination
  // /display: inline-flex !important
  //box-shadow: none !important
  background: rgb(247, 247, 247) !important
  .pag-pageSelection
    width: 100% !important
  #pag_dropdownSearch
    padding-left: 3.07142em !important
    padding-right: 1em !important
  .text
    width: 20px
    text-align: center
  //Arrows
  .pag-arrow
    &:hover
      .icon
        transition: all 0.2s ease-in-out;
        color: rgba(0, 0, 0, 0.8)
    .icon
      transition: all 0.2s ease-in-out;
      font-size: 2rem
      color: rgba(90, 90, 90, 0.8)
  .disabled
    &:hover
      .icon
        color: rgba(90, 90, 90, 0.2)
    .icon
      color: rgba(90, 90, 90, 0.2)