@import 'elf'
//debug(color = blue)

.reactiveTable_Container
  margin-top: 0px
  //height: 63vh
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05)
  overflow-y: scroll
  overflow-x: hidden
  border-radius: 4px
  padding-bottom: 30px

//On load sets so there is no gab for scrollbar
#reactiveTableScroller::-webkit-scrollbar
  width: 0px;

.reactiveTableMenu
  position: fixed
  background: #F0F0F0 !important
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 100  !important
  //width calc via jq

.reactive-table
  //Transparent bg
  background: rgba(0, 0, 0, 0) !important
  margin-top: 40px  !important
  thead
    tr
      th
        &:first-child
          box-shadow: 0px 0px 0px 0px #ffffff !important
          border-bottom: 0px
  tbody
    .tbodyFixture
      td
        background: transparent !important
    tr
      td
        &:first-child
          text-align: center
  tfoot
    tr
      th
        background: #f0f0f0 !important

.userCheckbox
  z-index: 0

.tableRow
  background: rgba(255, 255, 255, 0)
  transition: background 300ms linear;
  z-index: 0

.tableHighlighted
  //background: rgba(46, 204, 64, 0.21)
  background: rgba(159, 252, 160, 0.61)
  transition: background 300ms linear;


.tableNavigation
    span(1/4)
    shift(1/3)
  .meun, .pagination
    span(1) 
    // .item
    //   span(1/4)
    //   &:first-child
        
    //     background: green
    .item
      span(4/6)
      padding-right: 10px
      padding-left: 10px
      padding-top: 0px
      padding-bottom: 0px
      &:first-child
        span(1/6)
        padding-top: 5px
        padding-bottom: 5px
        i
          span(1)
        input
          span(1)
      &:last-child
        span(1/6)
        padding-top: 5px
        padding-bottom: 5px
        i
          span(1)
        input
          span(1)
      .pageControll
        align-children(direction =horizontal)
        .input
          span(1/1.8)
        .ui.input input
          text-align: center !important
          padding-right: 10px !important
        .ofPage
          span(1/12)
          min-width: 5px
          padding: 2px
          padding-top: 10px
          margin: 0px
          font-size: 1.2rem


//RowFilter
.rowFilter
  .text
    margin-left: 5px
    font-weight: bold
  .icon
    margin-left: 3px !important



//Nav
.recTblNav_Container
  position: fixed
  // bottom: 10px
  .recTblShadow
    position: relative
    height: 8px
    background: transparent
    width: 100%
    opacity: 0.6
.pagination
  display: inline-flex !important
  margin-top: -5px  !important
  //box-shadow: none !important
  background: rgb(247, 247, 247) !important
  .recTbl-pageSelection
    width: 100% !important
  #recTbl_dropdownSearch
    padding-left: 3.07142em !important
    padding-right: 1em !important
  .text
    width: 20px
    text-align: center
  //Arrows
  .pag-arrow
    &:hover
      .icon
        transition: all 0.2s ease-in-out;
        color: rgba(0, 0, 0, 0.8)
    .icon
      transition: all 0.2s ease-in-out;
      font-size: 2rem
      color: rgba(90, 90, 90, 0.8)
  .disabled
    &:hover
      .icon
        color: rgba(90, 90, 90, 0.2)
    .icon
      color: rgba(90, 90, 90, 0.2)

$primary= #666aa3;
.active-label
  color: $primary 
  &:before
    background: white 
    border-color: $primary 
    
.reactiveTableMenu_Container
  .item
    .checkbox
      float: right !important
    .search
      margin-top: -5px !important;
    label
      font-size: 1rem
      font-weight: bold
      line-height: 1
      cursor: pointer
      display: block
      padding: 0.5rem 1rem 0.5rem 1rem
      position: relative
      border-top: 1px solid rgba(black, 0.1)
      background: white
      whitespace: no-wrap
      overflow: hidden
      text-overflow: ellipsis
      transition: all .15s ease
      &:focus,
      &:hover,
      &:active
        @extend .active-label
      &:first-of-type
        border: 0