
<template name="reactiveTable">
<div class="reactiveTable_Container" id="reactiveTableScroller">
    {{setup}}

<!-- Header/nav -->
  <div class="reactiveTableMenu_Container">
    <div class="ui secondary pointing menu reactiveTableMenu">
      <div class="left menu">


        <div class="ui dropdown itemFilter item">
          Filer Columns <i class="dropdown icon"></i>
          <div class="menu reactive-table-columns-dropdown">
              <div class="dropdown-menu dropdown-menu-right ui divided list" role="menu" aria-labelledby="reactive-table-add-column-{{id}}">
                {{#each fields}}
                  <div class="item" role="presentation">
                    <div role="menuitem" tabindex="-1" data-target="#">
                      <label>
                        {{getLabel}}
                        {{#if isVisible}}
                          <input type="checkbox" class="checkbox" {{isFilterColDisabled}} checked index="{{getFieldIndex}}">
                        {{else}}
                          <input type="checkbox" class="checkbox" index="{{getFieldIndex}}">
                        {{/if}}
                      </label>
                     </div>
                  </div>
                {{/each}}
              </div>
          </div>
        </div>

      {{#if showNavigationRowsPerPage}}
       <div class="item">
        Items per row: 
        <div class="ui dropdown rowFilter">
          <div class="text">{{getRowsPerPage}}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header"># Per Page</div>
            <div class="item">5</div>
            <div class="item">10</div>
            <div class="item">15</div>
            <div class="item">25</div>
            <div class="item">50</div>
          </div>
        </div>
       </div>
      {{/if}}


      </div>
      <div class="right menu">
        <div class="item form-group reactive-table-filter">
          <div class="ui icon input">
            <input class="reactive-table-input form-control" type="text" value="{{filter}}" placeholder="Search">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Table -->
 <table id="{{id}}" class="{{class}} reactive-table ui compact celled definition table">
      <thead>
        <tr class="mainThead">
        <th></th>
          {{#each fields}}
            {{#if isVisible}}
              {{#if isSortKey}}
                <th class="{{getKey}} sortable" index="{{getFieldIndex}}">
                  {{getLabel}}&nbsp;&nbsp;
                  {{#if isAscending}}
                      <i class="chevron down icon"></i>
                  {{else}}
                      <i class="chevron up icon"></i>
                  {{/if}}
                </th>
              {{else}}
                {{#if isSortable}}
                  <th class="{{getKey}} sortable" index="{{getFieldIndex}}">{{getLabel}}</th>
                {{else}}
                  <th class="{{getKey}}" index="{{getFieldIndex}}">{{getLabel}}</th>
                {{/if}}
              {{/if}}
            {{/if}}
          {{/each}}
        </tr>

      </thead>
      <tbody class="tableBody">

        {{#if  isScrollable}}
        <tr class="tbodyFixture">
          <td></td>
          {{#each fields}}
            {{#if isVisible}}
              <td></td>
            {{/if}}
          {{/each}}
        </tr>
        {{/if}}

        {{#each sortedRows}}
          <tr class="{{../rowClass this}} tableRow">
            <td class="collapsing">
            <div class="ui toggle checkbox userCheckbox">
              <input name="public" type="checkbox">
              <label></label>
            </div>
            </td>
            {{#each ../fields}}
              {{#if isVisible}}
                <td class="{{key}}">{{#if tmpl}}{{#with ..}}{{> ../tmpl}}{{/with}}{{else}}{{getField ..}}{{/if}}</td>
              {{/if}}
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    <!-- Table Footer -->
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="{{columnCount}}">
          
          <div class="ui buttons">
            <div class="ui positive button selectAll toggle">Select All</div>
            <div class="or"></div>
            <div class="ui button deselectAll toggle">Deselect All</div>
          </div>

          <div class="ui right floated small labeled icon button {{buttonState}}">
            <i class="user icon"></i> Remove User
          </div>

          <div class="ui right floated small primary labeled icon button tableDirectMessage {{buttonState}}">
            <i class="mail outline icon"></i> Direct Message
          </div>

        </th>
      </tr>
    </tfoot>
  </table>






















<!-- Pagnation -->
  <div class="recTblNav_Container {{scrollerClass}}">
  {{#if showNavigation}}
    <img src="/imgs/shadow-bottom.png" class="recTblShadow" />
      <div class="ui pagination menu">
        <!-- Prev Button -->
        <a class="icon item recTblPag-prev pag-arrow {{page_buttonState.prev}}">
          <i class="left arrow icon"></i>
        </a>

        <!-- First Page Icon -->
        {{#if recTbl_Size 1}}
          <a class="item recTblPag-item {{page_active 1}}">
            1
          </a>    
        {{/if}}

        <!-- Sencond Page Icon -->
        {{#if recTbl_Size 2}}
          <a class="item recTblPag-item {{page_active 2}}">
            2
          </a>
        {{/if}}

        <!-- Third Page Icon-->
        {{#if recTbl_Size 3}}
          <a class="item recTblPag-item {{page_active 3}}">
            3
          </a>
        {{/if}}

        <!-- Drop Down -->
        {{#if recTbl_Size 4}}
          <div class="item {{page_active 'selector'}} pagdropdown">
          <div id="recTbl_dropdownSearch" class="ui floating bottom pointing dropdown labeled search icon button">
            <i class="dropdown icon"></i>
            <span class="text">{{getCurrentPage}}</span>
            <div class="menu">
              {{#each recTbl_pageList}}
                <div class="item recTbl-pageSelection">{{recTbl_pageNumber}}</div>
              {{/each}}
            </div>
          </div>
          of {{getPageCount}}
          </div>
        {{/if}}

        <!-- Last Page -->
        <a class="item recTblPag-item {{page_active 'last'}}">
          {{getPageCount}}
        </a>

        <!-- Next Button -->
        <a class="icon item recTblPag-next pag-arrow {{page_buttonState.next}}">
          <i class="right arrow icon"></i>
        </a>
      </div>
    {{/if}}
  </div>


</div>
</template>
