@import 'elf'
//debug(color = blue)

#adminCurrentUsers
  height: 197px
  .stats
    span(1)
    height: 150px
    align-children(direction =horizontal)
    margin-top: 15px
    .segment
      column(1/5)
      cycle(5)
      align-children(direction =both)
      cursor: pointer
      transition: all 0.5s ease;
      margin: 0px 10px 0px 0px
      &:last-child
        margin-right: 0px
      &:hover
        background: lighten(#ebebeb, 30%)
      .statistics
        column(1)
        align-children(direction =both)
      .statistic
        column(1)
        max-width: 200px !important
        margin-top: 0px
        margin-bottom: 0px
      .label.top
        span(1)
        font-size: 1.2em
        text-align: center
        font-weight: bold
      .label
        span(1)
        text-align: center
      .value
        //padding-top: 10px
        margin-bottom: -5px
        font-weight: bold
    .segment.tertiary
      transition: all 0.5s ease;
      margin-top: -10px !important
      margin-bottom: 10px !important
      .value
        color: green !important
      .label
        background: rgba(0, 116, 217, 0.76) !important
        border: solid 1px darken(blue, 5%)
        color: white !important
  .collectionTable
    margin-top: 200px
    
.collectionTable
  .noAccountsFound
    align-children(direction =horizontal)
    padding-top: 25px
    .header
      i
        font-size: 10rem !important
      h2
        font-size: 3rem
      .sub
        font-size: 2rem
  