


<template name="adminAddUser">
<div class="adminAddUser_Container">
<form class="ui form segment" id="admin_NewUserForm">
<!-- Name Input -->
  <div class="two fields">
    <!-- First Name -->
    <div class="field required">
      <label>First Name</label>
      <input 
        placeholder="First Name"
        class="form-control" 
        name="firstName" 
        type="text">
    </div>
     <!-- First Name -->
    <div class="field">
      <label>Last Name</label>
      <input 
        placeholder="Last Name"
        class="form-control" 
        name="lastName" 
        type="text">
    </div>
  </div>

<!-- Contact Input -->
  <div class="two fields">
    <!-- Invite Email -->
    <div class="field required">
      <label>Email Address</label>
      <input 
        placeholder="This is the email address the invite will be sent to."
        class="form-control" 
        name="emailAddress" 
        type="text">
    </div>
     <!-- Phone Number -->
     <div class="phoneField">
      <div class="field">
        <label>Phone Number</label>
        <input 
          type="text"
          class="form-control" 
          name="phone1"  
          placeholder="xxx">
        <!--<div class="dash">-</div>-->        
        <input 
          type="text"
          class="form-control" 
          name="phone2"   
          placeholder="xxx">
        <!-- <div class="dash">-</div> -->
        <input 
          type="text"
          class="form-control phone3" 
          name="phone3"  
          placeholder="xxxx">
      </div>
     </div>
  </div>


  <div class="two fields">
  <!-- Role Selection -->
    <div class="field required">
      <label>Role</label>
      <div class="ui selection dropdown">
        <div class="default text">Select Role</div>
        <i class="dropdown icon"></i>
        <input type="hidden" name="userRole">
        <div class="menu">
        {{#each userRoles}}
          <div class="item" data-value="{{name}}">{{name}}</div>
        {{/each}}
        </div>
      </div>
    </div>
     <!-- Company -->
    <div class="field">
      <label>Company</label>
      <input 
        placeholder="Company or Employer"
        class="form-control" 
        name="companyName" 
        type="text">
    </div>
  </div>

<div class="addUserConfirm_Container">
<!-- CheckBox -->
  <div class="checkbox_Container">
<!--      <input type="checkbox" class="checkbox form-control" name="confirmNewUser" value="1" id="confirmNewUser">
      <label for="confirmNewUser">I wish to send this invite <span>*</span></label> -->
  </div>
  <button class="ui submit button green" type="submit">Submit</button>  
</div>

</form>

</div>

<div class="adminAddUserSuc_Container">
  <h2 class="ui icon header">
    <i class="settings icon"></i>
    <div class="content">
      Sucsess
      <div class="sub header ui segment">An invite email has been sent to 
      <span>{{successEmailDisplay}}</span></div>
    </div>
  </h2>
</div>

</template>