<template name="adminCurrentUsers">
<div id="adminCurrentUsers">
  <div class="stats">
    <div class="ui tertiary segment" data-name="All Acount">
    <div class="ui top attached label">All Accounts</div>
      <div class="ui statistics">
        <div class="statistic">
          <div class="value">
            {{allAccounts}}
          </div>
          <div class="label ui">
            Total Number Of Accounts
          </div>
        </div>
      </div>
    </div>

    <div class="ui secondary segment" data-name="Admin">
      <div class="ui statistics">
        <div class="ui top attached label">Admin</div>
        <div class="statistic">
          <div class="value">
            {{totalAdmins}}
          </div>
          <div class="label ui">
            Total Number Of Admins
          </div>
        </div>
      </div>
    </div>

    <div class="ui secondary segment" data-name="Manager">
      <div class="ui statistics">
        <div class="ui top attached label">Managers</div>
        <div class="statistic">
          <div class="value">
            {{totalManagers}}
          </div>
          <div class="label ui">
            Total Number Of Managers
          </div>
        </div>
      </div>
    </div>

    <div class="ui secondary segment"  data-name="User">
      <div class="ui statistics">
        <div class="ui top attached label">Users</div>
        <div class="statistic">
          <div class="value">
            {{totalUsers}}
          </div>
          <div class="label ui">
            Total Number Of Users
          </div>
        </div>
      </div>
    </div>

    <div class="ui secondary segment" data-name="Viewer">
      <div class="ui statistics">
        <div class="ui top attached label">Viewers</div>
        <div class="statistic">
          <div class="value">
            {{totalViewers}}
          </div>
          <div class="label ui">
            Total Number Of Viewers
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
  <div class="collectionTable">
    {{#if hasAccounts}}
     {{> reactiveTable settings=tableSettings}}
    {{else}}
      <div class="ui noAccountsFound">
        <h1 class="ui icon header">
          <i class="flag icon"></i>
          <div class="content">
            <h2>No Accounts Found For {{accountType}}</h2>
            <div class="sub header">Some Sub Message Of Importance</div>
          </div>
        </h1>
      </div>
    {{/if}}
  </div>
</template>