
<template name="newUserStatus">
<table class="ui compact celled definition table">
  <thead class="full-width">
    <tr>
      <th></th>
      <th>Name</th>
      <th>E-mail address</th>
      <th>Role</th>
      <th>Token #</th>
      <th>Invite Sent</th>
      <th>Invite Date</th>
    </tr>
  </thead>
  <tbody class="tableBody">
      {{#each invite}}
    <tr class="tableRow">
      <td class="collapsing">
        <div class="ui toggle fitted checkbox newUserStatus_Checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{role}}</td>
        <td>{{#if token}}{{token}} {{else}} Token Used{{/if}}</td>
        <td>{{YesOrNo inviteSent}}</td>
        <td>{{FormatDate timestamp "short"}}</td>
    </tr>
      {{/each}}
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="7">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i> Add User
        </div>
        <div class="ui small  button selectAll toggle green">
          Select All
        </div>
        <div class="ui small  button deselectAll toggle red">
          Deselect All
        </div>
      </th>
    </tr>
  </tfoot>
</table>
</template>