<template name="adminUsers">

  <div class="ui styled fluid accordion adminAddUser_Accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      <span>Add New User<i class="user icon"></i></span>
    </div>
    <div class="content">
      {{> adminAddUser}}
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      New User Status
    </div>
    <div class="content">
      {{> newUserStatus}}
    </div>
    <div class="active title">
      <i class="dropdown icon"></i>
      Current Users
    </div>
    <div class="active content">

<div class="active content">
  <div class="accordion">
    {{#each userTable}}
      <div class="title currentUsers_Title">
        <i class="dropdown icon"></i>
        {{name }}
      </div>

    <div class="content">
      {{> Template.dynamic template=getTableTemplate data=getTableDataContext }}
    </div>
    {{/each}}
  </div>

</div>



    </div>
  </div>

</template>


<template name="userDataTable">
  <table class="ui table">
        <thead>
          <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>

        <tbody>
          <tr>
          {{#each userTable}}
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td>{{role}}</td>
          {{/each}}
          </tr>
        </tbody>
  </table>
</template>