@import 'elf'
//debug(color = blue)

//The error label for the phone will overlap if there
//is more than one error. Jquery fix = best solution
.adminAddUser_Container
  .addUserConfirm_Container
    span(1)
  .field
    height: 83px
    margin-bottom: 0px !important
  .phoneField
    //Janky' yeah
    width: 50%
    padding-right: 0%
    padding-left: 0.5em
    float: right 
    .field
      span(1)
      input
        column(1/3)
      .phone3
        //Without the input jumps dow
        margin-right: 0px !important
      label[class~="error"]
        column(1/5)
        position: absolute !important
        left: 50.5% !important
        margin-top: 38px !important
  .submit
    column(1/8)
    float: right

.collectionTable
  .segment
    background: rgba(255, 255, 255, 0.0)
  .flag
    color: rgba(61, 61, 61, 0.61)
  .content
    h2
      font-size: 2rem
      color: rgba(216, 69, 69, 0.69) !important
      



.adminAddUserSuc_Container
  width: 400px
  height: 217px !important
  margin: 0 auto
  display: none
  opacity: 0
  h2
    color green !important
    font-size: 3em !important
  .content
    font-size: 2.5em
    padding: 0 !important
  .sub
    margin-top: 20px !important
    padding: 10px !important
    span
      font-weight bold
      color: black
