.modal-overlay
  align-children(direction = vertical) 
  background: rgba(0, 0, 0, 0)
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 60000;
.modal_Container
  z-index: 999999;


.modal
  top: 0% !important
  
#modalConfirm
  .header
    border-bottom: 3px solid white