@import 'elf'

.tagMenu
  .search
    margin-bottom: 2px !important
  i.search
    margin-left: -12px !important
    margin-top: -10px !important
    
.tagMenu
  .noTagResults
      &:hover
        background: white !important
        cursor: default !important
    span
      font-weight: bold
  .addNewTag
    span
      font-weight: bold