<template name="tagAdder">
  <!-- Menus Containter for Tags -->
  <div class="menu tagMenu">
  <!-- Tag Search -->
    <div class="ui transparent left icon input">
      <i class="search icon tagSearchIcon"></i>
      <!-- Tag Search Input -->
      <input 
        type="text" 
        class="tagSearch" 
        name="search"
        placeholder=" Search/Create Tags">
    </div>
    <div class="divider"></div>
    {{#if  isTagsActive}}
      {{#if isTagSearchActive}}
      <!-- Tag Search Results -->
      <div class="header">
        <i class="tags icon"></i>
        Search Results
      </div>
        <!-- Add new tag option -->
        {{#if noTagSearchResults}}
          <div class="item noTagResults">
              <i class="attention red icon"></i>
            No Results for <span>{{tagSearchValue}}</span>
          </div>
          <!-- Add new tag button -->
          <div class="item addNewTag">
            <div class="circular ui icon button basic small">
              <i class="plus green icon"></i>
            </div>
            Add <span>{{tagSearchValue}}</span> Tag?
          </div>
        {{else}}
        <!-- Tag Search Results -->
          {{#each tagSearchResults}}
            <div class="item addTag">
              <div class="ui empty circular label" 
              style="background-color: {{tagColor}}">
              </div>
              {{tagName}}
            </div>
          {{/each}}
        {{/if}}
      <!-- Defualt tags (most common tags) -->
      {{else}}
        <div class="header">
          <i class="tags icon"></i>
          Common Tags
        </div>
        {{#each commonTags}}
          <div class="item addTag">
            <div class="ui empty circular label" 
            style="background-color: {{tagColor}}"></div>
            {{tagName}}
          </div>
        {{/each}}
      {{/if}}
    {{/if}}<!-- Is Tags Active -->
  </div>
</template>