<template name="tagDisplay">
{{#if currentTags.hasTags}}
  <ul class="tagDisplayList">
    {{#each currentTags.tag}}
      <li class="ui label messageTag" style="background-color: {{tagColor}};" data-tagId="{{tag_Id}}">
      {{tagName}}
      <a><i class="delete icon deleteTag" name="{{tagName}}"></i></a>
      </li>
    {{/each}}
  </ul>
{{/if}}
</template>