<template name="tagRemover">
  <div class="ui icon top left pointing dropdown button tagRemover">
    <!-- Button for tags -->
    <i class="tag icon"></i>
    <i class="minus icon"></i>
    <!-- Menus Containter for Tags -->
      <div class="menu tagMenu">
          <div class="header">
            <i class="tags icon"></i>
            Remove Tag
          </div>
          <div class="divider"></div>
          {{#if isTagRemoverActive}}
            {{#each removableTags}}
              <div class="item removeSelectedTag">
                <div class="ui empty circular label" 
                style="background-color: {{tagColor}}"></div>
                {{tagName}}
              </div>
            {{/each}}
          {{/if}}
      </div>
  </div>
</template>