<template name="admin">
<!-- Header -->
  <div class="adminHeader">
    <h3 class="ui inverted black block header">
      Block Header
    </h3>
  </div>

<!-- Menu -->
<div class="ui tiered menu adminMenu">
  <div class="menu">
    <a href="{{pathFor 'admin.link'}}" class="item {{isActiveRoute 'admin.link'}}">
      <i class="grid layout icon"></i>
      Dashboard
    </a>
  <a href="{{pathFor 'adminUsers.link'}}" class="item {{isActiveRoute 'adminUsers.link'}}">
    <i class="users icon "></i> Users
  </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        More <i class="icon dropdown"></i>
        <div class="menu">
          <a class="item"><i class="edit icon"></i> Edit Profile</a>
          <a class="item"><i class="globe icon"></i> Choose Language</a>
          <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
      </div>
    </div>
  </div>
  {{#if userTabActive}}
    <div class="ui sub menu">
      <a class="item currentUser {{isDynamicTmpl 'adminCurrentUsers'}}">Current Users</a>
      <a class="item addUser {{isDynamicTmpl 'adminAddUser'}}">Add Users</a>
      <a class="item inviteStatus {{isDynamicTmpl 'UserGrouptatus'}}">Invite Status</a>
    </div>
  {{/if}}
</div>

  <div class="adminDynamicTmpl">
    {{> Template.dynamic template=getTemplate data=getDataContext}}
  </div>
</template>



<template name="UserGrouptatus">
  <h1>User Status</h1>
</template>