<template name="SuccessMessage">
  {{#each Success}}
    <div class="ui positive message alert" role="alert">
      <i class="close icon errorClose"></i>
      <div class="header">
        {{successmessage}}
      </div>
    </div>
  {{/each}}
</template>