@import 'elf'
//debug(color=blue)

///////////////////////
// Message positioning
///////////////////////
#AppMessage
  position fixed
  bottom: 0
  transform: translate(-50%);
  left: 50%
  opacity: .95
  .message
    width: 400px
    //text-align: center

///////////////////////
// Error animation
///////////////////////
.alert {
  animation: fadeOut 4000ms ease-in 0s 1 forwards;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}