
<template name="sidebar">
<div id="sidebar_Container">
    <div class="ui vertical menu" id="sidebar">
  
  {{#linkTo route="index.link"}}
    <div class="header item sidebarTB_Home {{isActiveRoute 'index.link'}}">
      <i class="home icon"></i>
      Home
    </div>
  {{/linkTo}}

{{#if projectHome}}
<!--  -->
<!-- Project Event -->
<!--  -->
  <div class="item">
    Projects
    <div class="menu">
      <a class="item">Add</a>
        <a>Cancle Remove</a>
        <a>Remove</a>
    </div>
  </div>
<!--  -->
<!-- Task Event Template -->
<!--  -->
  {{else}}
    <div class="item">
    Tasks
    <div class="menu">
      <a class="item">Add</a>
      <a class="item">Remove</a>
    </div>
  </div>


{{/if}}



  <a class="item">
    <i class="grid layout icon"></i> Browse
  </a>

  <div class="item {{isActivePath 'messages'}}" id="sidebarMessages">
    Messages
    <div class="ui label {{notificationsCount.class}}">
      <i class="mail icon"></i>
      {{notificationsCount.count}}
    </div>

  </div>
  <div id="sidbarMesssagesSubMenu" class="item {{isActivePath 'messages'}}">
        <div class="menu messagesSubMenuItems">
      {{#if isMessagesActive}}
          <a class="item active">Inbox</a>
          <a class="item">New Message</a>
      {{/if}}
        </div>
    
  </div>

<!-- More -->
<!--   <div class="ui selection item styled fluid accordion">
    <i class="dropdown icon"></i>
    More
    <div class="menu" id="sidebarMoreTab">
      {{#if isInRole 'admin'}}
        {{#linkTo route="admin.link" class="item"}}
          <i class="users icon"></i>Admin Administration   
        {{/linkTo}}
      {{/if}}
      <a class="item"><i class="edit icon"></i> Edit Profile</a>
      <a class="item"><i class="settings icon"></i> Account Settings</a>
    </div>
  </div> -->

  <div class="ui accordion item" id="sidebarTB_More">
  <div class="title {{isActivePath 'admin' 'editprofile'}}">
    <i class="dropdown icon"></i>
    More
  </div>
  <div class="content {{isActivePath 'admin' 'editprofile'}}">
    <div class="menu" id="sidebarTB_MoreOptions">
      {{#if isAdmin}}
        <a href="{{pathFor 'admin.link'}}" class="item {{ isActivePath 'admin'}}">
          <i  class="users icon"></i>Admin Administration   
        </a>
      {{/if}}
      <a href="{{pathFor 'editProfile.link'}}" class="item {{isActivePath 'editprofile'}}"><i class="edit icon"></i> Edit Profile</a>
      <a class="item"><i class="settings icon"></i> Account Settings</a>
    </div>
  </div>
</div>

  <!-- Feed -->
  <div class="sidebarFeed ui segment">
    <h4 class="ui horizontal header divider">
      <i class="bar chart icon"></i>
      Feed
    </h4>
  </div>


  <a class="item logout" id="logout">
    <i class="grid power icon"></i> Logout
  </a>

  </div>
</div>
</template>