@import 'elf'

#sidebar_Container
  span(1)
  min-height: 100%
  position: fixed

#sidebar
  span(1/8)
  position: fixed
  .homeHeader
    &:hover
      cursor: pointer
      background: blue
  .logout
    position: absolute
    bottom: 0;
    border-radius: 0 .3857rem 0 0
    background: red
    

#cancleRemoveProject
  color: red
  transition: all 0.5s ease-in-out;
  &:hover
    background: rgba(209, 63, 25, 0.8)
    color: white
    transition: all 0.5s ease-in-out;
    

//Messages
//All this bull to override the hieght
#sidebarMessages
  &:hover
    cursor: pointer;
    background: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.8);
//Set in js render, this is here for loadtime styles
#sidbarMesssagesSubMenu
  opacity: 0
  height: 0px
  padding: 0px
#sidbarMesssagesSubMenu.active
  background: rgba(0, 0, 0, 0.0)
  .messagesSubMenuItems
    opacity: 0
    height: 0px
    margin: 0
    padding: 0px
    